@model FCGagarin.PL.ViewModels.PhotoAlbumDetailsViewModel

@{
    ViewBag.Title = string.Format("Фотоальбом \"{0}\"", Model.PhotoAlbumViewModel.Name);
}

@if (User.IsInRole("Moderator"))
{
    @Html.ActionLink(" ", "Create", "Photo", new { albumId = Model.PhotoAlbumViewModel.Id }, new { @class = "btn btn-default fa fa-plus fa-lg plus" }) //TODO: заменить класс .plus, который отодвигает кнопку xD
}

@if (Model.PhotoViewModelList.Count == 0)
{
    <div class="well">
        <div class="h4">
            Фото еще нет
        </div>
    </div>

}
else
{
    foreach (var pvm in Model.PhotoViewModelList.OrderByDescending(pvm => pvm.UploadDate))
    {
        @Html.Partial("_PhotoSummary", pvm)
    }
}



@*<div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>*@




@{
    ViewBag.Title = "Show";
}
<!-- blueimp File Upload & Gallery styles -->
@Styles.Render("~/Content/jQuery-File-Upload")

<h2>Show</h2>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div id="links">

    @if (@Model.FilesViewModel.Files != null && @Model.FilesViewModel.Files.Length!=0)
    {
        foreach (var file in @Model.FilesViewModel.Files)
        {

            if (file.Type.Equals("video/mp4"))
            {
             
                <a href="@file.Url" title="@file.Name" type="video/mp4" data-description="This is a movie."><img src="@file.ThumbnailUrl" alt="@file.Name"></a>


            }
            else
            {
                <a href="@file.Url" title="@file.Name" data-description="This is a image."><img src="@file.ThumbnailUrl" alt="@file.Name"></a>
            }

        }
    }
    else
    {
        <div class="well">
            <div class="h4">
                Фото еще нет
            </div>
        </div>
    }
    <!--Your files goes here-->
</div>

<div>
    @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-default btn-lg fa fa-arrow-left fa-lg" })
</div>

<script>

    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);

    };
</script>
@Scripts.Render("~/bundles/Blueimp-Gallerry2")

