@model FCGagarin.PL.ViewModels.PhotoAlbumDetailsViewModel

@{
    ViewBag.Title = string.Format("Фотоальбом \"{0}\"", Model.PhotoAlbumViewModel.Name);
}

@Styles.Render("~/Content/jquery-file-upload")

@if (User.IsInRole("Moderator"))
{
    @*@Html.ActionLink(" ", "Create", "Photo", new { albumId = Model.PhotoAlbumViewModel.Id }, new { @class = "btn btn-default fa fa-plus fa-lg plus" }) //TODO: заменить класс .plus, который отодвигает кнопку xD*@

    <script>
        //edit

        var $form = null;
        $(function () {
            $form = $('#fileupload').fileupload({
                dataType: 'json'
            });
            $('#fileupload').addClass('fileupload-processing');
            $.ajax({
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetFileList", "PhotoAlbum", new {id = Model.PhotoAlbumViewModel.Id})',
                success: function (data) {
                    $('#fileupload').fileupload('option', 'done').call($('#fileupload'),
                        $.Event('done'),
                        { result: { files: data.files } });
                    $('#fileupload').removeClass('fileupload-processing');
                }
            });
        });
    </script>

    @Html.Partial("_Files", new ViewDataDictionary { { "id", Model.PhotoAlbumViewModel.Id } })
}
else
{
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        @*<ol class="indicator visible-lg"></ol>*@
    </div>

    <div id="links">
        <div class="img-thumbnail">
            @if (Model.FilesViewModel.files != null && Model.FilesViewModel.files.Length != 0)
            {
                foreach (var file in Model.FilesViewModel.files)
                {
                    if (file.Type.Equals("video/mp4"))
                    {
                        <a href="@file.Url" title="@file.Name" type="video/mp4" data-description="This is a movie."><img src="@file.ThumbnailUrl" alt="@file.Name"></a>
                    }
                    else
                    {
                        <a href="@file.Url" title="@file.Name" data-description="This is a image."><img src="@file.ThumbnailUrl" alt="@file.Name"></a>
                    }
                }
            }
            else
            {
                <div class="h4">
                    Фото еще нет
                </div>
            }
            <!--Your files goes here-->
        </div>
    </div>

    <script>
        //only view
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = { index: link, event: event },
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>
}

@*<div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>*@

<div>
    @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-default btn-lg fa fa-arrow-left fa-lg" })
</div>

@Scripts.Render("~/bundles/jquery-file-upload")



