@model IEnumerable<FCGagarin.PL.ViewModels.PhotoAlbumViewModel>

@{
    ViewBag.Title = "Фотоальбомы";
}

@if (User.IsInRole("Moderator"))
{
    @Html.ActionLink(" ", "Create", null, new { @class = "btn btn-default fa fa-plus fa-lg plus" }) //TODO: заменить класс .plus, который отодвигает кнопку xD
}

@if (!Model.Any())
{
    <div class="well">
        <div class="h4">
            Альбомов еще нет
        </div>
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="well">
            <div class="h4">
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </div>
            <div class="text-muted h6">
                <div>
                    @Html.DisplayNameFor(m => m.NumberOfPhoto):  @Html.DisplayFor(m => item.NumberOfPhoto)
                </div>
                <div>
                    @Html.DisplayNameFor(m => m.LastUploadDate):  @Html.DisplayFor(m => item.LastUploadDate)
                </div>
            </div>
            @if (User.IsInRole("Moderator"))
            {
                <span>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default fa fa-pencil fa-lg" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-default fa fa-trash-o fa-lg" })
                </span>
            }
        </div>
    }
}