<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <header>
            @Html.ActionLink("ФК ГАГАРИН", "Index", "Home", new { area = "" }, new { @class = "logo" })
            <div id="registerArea">
                @Html.Partial("_LoginPartial")
            </div>
        </header>
        <nav>
            <ul class="top-menu">
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li>@Html.ActionLink("Тренеровки", "Index", "Training")</li>
                <li>@Html.ActionLink("Информация", "Index", "Info")</li>
                <li>@Html.ActionLink("Галерея", "Index", "Gallery")</li>
            </ul>
        </nav>
        <aside>
            <h2>Panel 1</h2>
            <div class="panel">

            </div>
            <h2>Panel 2</h2>
            <div class="panel">

            </div>
        </aside>
        <section id="content">
            @RenderBody()
        </section>  
        <footer>
            <div id="footer">
                <div id="twitter"></div>
                <div id="sitemap"></div>
                <div id="social"></div>
                <div id="footer-logo"></div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
