<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper container">
        <header>
            @Html.ActionLink("ФК ГАГАРИН", "Index", "Home", new { @class = "logo" })
            <div id="registerArea">
                @Html.Partial("_LoginPartial")
            </div>
        </header>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav menu">
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li>@Html.ActionLink("Тренеровки", "Index", "Training")</li>
                <li>@Html.ActionLink("Информация", "Index", "Info")</li>
                <li>@Html.ActionLink("Галерея", "Index", "Gallery")</li>
            </ul>
        </nav>
        <div class="heading"></div>
        <div class="row">
            <section class="col-md-9">
                @RenderBody()
            </section>
            <aside class="col-md-3">
                <h3>Panel 1</h3>    
                <div class="panel">

                </div>
                <h3>Panel 2</h3>
                <div class="panel">

                </div>
            </aside>
        </div>
    </div>
    <footer></footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
