@model FCGagarin.PL.ViewModels.PhotoViewModel

<div class="well">
    <h4 class="well well-lg">@Html.DisplayFor(modelItem => Model.Name)</h4>
    @if (!string.IsNullOrEmpty(Model.PathToImage))
    {
        <img src="@Url.Content(Model.PathToImage)" alt="pic" class="img-thumbnail center-block" />
    }
    <div class="text-muted h6">
        <div>
            @Html.DisplayNameFor(m => m.Author):  @Html.DisplayFor(m => m.Author)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.UploadDate):  @Html.DisplayFor(m => m.UploadDate)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.PhotoDate):  @Html.DisplayFor(m => m.PhotoDate)
        </div>
    </div>
    @if (User.IsInRole("Moderator"))
    {
        <span>
            @Html.ActionLink(" ", "Edit", "Photo", new { id = Model.Id }, new { @class = "btn btn-default fa fa-pencil fa-lg" }) |
            @Html.ActionLink(" ", "Delete", "Photo", new { id = Model.Id }, new { @class = "btn btn-default fa fa-trash-o fa-lg" })
        </span>
    }
</div>

