@model FCGagarin.WebUI.ViewModels.NewsViewModel

@{
    ViewBag.Title = "Удаление новости";
}

<div class="jumbotron">
    <h4 class="well">@Html.DisplayFor(modelItem => Model.Title)</h4>
    <div class="h5">
        @Html.Raw(Model.Text)
    </div>
    <div class="text-muted h6">
        <div>
            @Html.DisplayNameFor(m => m.CreateDate):  @Html.DisplayFor(modelItem => Model.CreateDate)
        </div>
        <div>
            @Html.DisplayNameFor(m => m.Author):  @Html.DisplayFor(modelItem => Model.Author)
        </div>
    </div>
    <h5><span class="label label-danger">Удаляем эту новость, вы уверены?</span></h5>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-default">
                <i class="fa fa-check fa-lg"></i>
            </button>
        </div>
    }
</div>
<div>
    @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-default fa fa-arrow-left fa-lg" })
</div>
